<html>
<head>
<title>Bucket {{title}}</title>
</head>

<body>

{{#if User.IsActive}}
  <!-- nav bar for current user -->
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Signup</a></li>
{{else}}
  <!-- nav bar for not logged in -->
{{/if}}

{{{body}}}

</body>
</html>
